<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1> Listes des Pokémon :</h1>
    <div>
    <ul>
      <% pokemon .forEach(pokemon => { %>
        <li><%= pokemon.name %> </li>
      <% }); %>
    </ul>
    </div>
  </body>
</html>
